.fog-full-width {
    width: 70%;
}
.fog-container{
    margin: auto;
    width: 80%;
    padding: 2rem;
}
.search-button{
    margin:1rem;
}
#forgot-button{
    width: 8rem;    
    height: 3rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}