<div class="fog-container">
    <h1 class="tab-header">Forgot Password?.</h1>
    <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit();">
        <span class="search-button">
            <mat-form-field appearance="fill" class="fog-full-width">
                <mat-label>Enter your Username</mat-label>
                <input matInput type="text" formControlName="userName" name="userName" class="form-control" id="userName" required>
            </mat-form-field>
        </span>
        <button id="forgot-button" [disabled]="!forgotForm.valid" mat-raised-button color="primary" class="button" type="submit">Verify <i class="material-icons">compare_arrows</i></button>
    </form>
    
    <a class="router-link" (click)="onClick" routerLink="/account/forgot-password">Forgot Password?</a>
    <br><br>
    <router-outlet></router-outlet>
</div>
