<div class="log-container">
    <h1 class="tab-header">Login.</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit();">
        <div class="row">
            <mat-form-field appearance="outline" class="log-full-width">
                <mat-label>User Name</mat-label>
                <input matInput type="text" formControlName="userName" name="userName" class="form-control" id="userName" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="log-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" name="password" class="form-control" id="password" required>
            </mat-form-field>
        </div>
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login &nbsp;&nbsp;<i class="material-icons">lock_open</i></button>
    </form>
    
    <a class="router-link" (click)="onClick" routerLink="/account/forgot-password">Forgot Password?</a>
</div>