<mat-card class="container profile-card">
    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Search Github Profile</mat-card-title>
        <mat-card-subtitle>with username</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profileSearchForm" (ngSubmit)="onSubmit()">
            <span class="search-button">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" formControlName="userName" name="userName" class="form-control" id="userName" placeholder="Enter User Name" required>
                </mat-form-field>
            </span>
            <button [disabled]="!profileSearchForm.valid" mat-raised-button color="accent" class="button" type="submit">Search</button>
        </form>
    </mat-card-content>
</mat-card>
<br><br>
<div *ngIf="githubUsers">

    <mat-card class="container profile-card"     *ngFor="let item of githubUsers;">
        <mat-card-header>
            <img src="{{item.avatar_url}}" mat-card-avatar alt="account-image">
            <mat-card-title>{{item.login}}</mat-card-title>
            <mat-card-subtitle>{{item.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.login}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{item.id}}
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>URL: {{item.html_url}}</p>
                        <p>Followers {{item.followers_url}}</p>
                        <p>Following {{item.following_url}}</p>
                        <p>Repos {{item.repos_url}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>

