@import '~@angular/material/theming';
.mat-container{
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include mat-elevation(10);
}
.error-container{
    width: 80%;
    margin: auto;
}
.right-login{
    float: right;
}
ng-flash-messages{
    margin: 1rem 0rem, 1rem 0rem;
}


::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}
.tab-content{
    margin: auto;
    padding: 3rem;
}
.tab-header{
    margin: 1rem;
    font-size: 3rem;
}
.row {
    display: flex;
    flex-direction: row;
}
