<h1 class="tab-header">Update Password.</h1>
<form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdateSubmit();">
    <div class="row">
        <mat-form-field appearance="outline" class="log-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" name="password" class="form-control" id="password" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="log-full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" name="confrimPassword" class="form-control" id="confirmPassword" required>
        </mat-form-field>
    </div>
    <button [disabled]="!updatePasswordForm.valid" mat-raised-button color="primary">Login &nbsp;&nbsp;<i class="material-icons">lock_open</i></button>
</form>